<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="format-detection" content="telephone=no, email=no, address=no, date=no">
<title>{% if page.product %}{{ page.product }} {% else %}{{ site.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="/assets/css/global.826c6112df.css" data-turbolinks-track="reload">
<link rel="stylesheet" href="/assets/css/style.css" data-turbolinks-track="reload">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" data-turbolinks-track="reload">
<script src="/assets/js/turbolinks.f4b19816a1.js"></script>